<section>
    <div class="container col-lg-6 col-md-6 col-sm-12 justify-content-center">
        <hr><h1 class="text-center">About</h1><hr>
        <p class="text-justify">This web applications serves as a showcase for integration Node.js environment with Azure Cloud services and infrastructure. You can perform basic CRUD operations on MongoDB Atlas cluster as well as manage basic Azure entities and objects such as Storage, Queue or Blob.</p>
        <p></p>
    </div>
</section>